.version.index /* version checker */
{
	color: #000005;
	background-color: #320163;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#pu806
{
	padding-bottom: 30px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 20px;
	width: 96%;
}

#u806
{
	height: 30px;
	position: relative;
	left: -50%;
	margin-left: 480px;
	width: 100%;
	max-width: 960px;
}

#u806-wrapper
{
	position: fixed;
	top: 20px;
	z-index: 2;
	left: 50%;
	margin-left: -480px;
	width: 96%;
	max-width: 960px;
}

#u729-wrapper
{
	position: fixed;
	top: 20px;
	z-index: 36;
	left: 50%;
	margin-left: -480px;
	width: 3%;
	max-width: 30px;
}

#u731-wrapper
{
	position: fixed;
	top: 20px;
	z-index: 38;
	left: 50%;
	margin-left: -450px;
	width: 3%;
	max-width: 30px;
}

#ppu103
{
	margin-right: -10000px;
	margin-top: 127px;
	width: 40%;
	margin-left: 5.5%;
}

#u103
{
	z-index: 3;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u103:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: linear;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: linear;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u374
{
	z-index: 25;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u806,.ie #u374
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u374:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/b_031816.gif") no-repeat left top;
	background-size: cover;
}

#pu122
{
	margin-top: 430px;
	width: 100%;
}

#u122
{
	z-index: 13;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u402
{
	z-index: 27;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u402
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u402:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/n_032516.gif") no-repeat left top;
	background-size: cover;
}

#u131
{
	z-index: 7;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u418
{
	z-index: 29;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u418
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u418:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/a_031816_1.gif") no-repeat left top;
	background-size: cover;
}

#u166
{
	z-index: 9;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u424
{
	z-index: 31;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u424
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u424:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/a_031816_1.gif") no-repeat left top;
	background-size: cover;
}

#u182
{
	z-index: 11;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u435
{
	z-index: 33;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u435
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u435:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/a_031816_1.gif") no-repeat left top;
	background-size: cover;
}

#pu198
{
	margin-top: 452px;
	width: 100%;
}

#u198
{
	z-index: 23;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u449
{
	z-index: 35;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u449
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u449:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/r_032516.gif") no-repeat left top;
	background-size: cover;
}

#pu733
{
	padding-bottom: 30px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 80px;
	width: 28.7%;
}

#u733-wrapper
{
	position: fixed;
	top: 20px;
	z-index: 40;
	left: 50%;
	margin-left: -300px;
	width: 3%;
	max-width: 30px;
}

#u735-wrapper
{
	position: fixed;
	top: 20px;
	z-index: 42;
	left: 50%;
	margin-left: -223px;
	width: 3%;
	max-width: 30px;
}

#u737-wrapper
{
	position: fixed;
	top: 20px;
	z-index: 44;
	left: 50%;
	margin-left: -360px;
	width: 3%;
	max-width: 30px;
}

#u739-wrapper
{
	position: fixed;
	top: 20px;
	z-index: 46;
	left: 50%;
	margin-left: -390px;
	width: 3%;
	max-width: 30px;
}

#u741-wrapper
{
	position: fixed;
	top: 20px;
	z-index: 48;
	left: 50%;
	margin-left: -253px;
	width: 3%;
	max-width: 30px;
}

#u743-wrapper
{
	position: fixed;
	top: 20px;
	z-index: 50;
	left: 50%;
	margin-left: -193px;
	width: 3%;
	max-width: 30px;
}

#u745-wrapper
{
	position: fixed;
	top: 20px;
	z-index: 52;
	left: 50%;
	margin-left: -163px;
	width: 3%;
	max-width: 30px;
}

#u747-wrapper
{
	position: fixed;
	top: 20px;
	z-index: 54;
	left: 50%;
	margin-left: -420px;
	width: 3%;
	max-width: 30px;
}

#u729,#u731,#u733,#u735,#u737,#u739,#u741,#u743,#u745,#u747,#u749
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 15px;
	width: 100%;
	max-width: 30px;
}

#u749-wrapper
{
	position: fixed;
	top: 20px;
	z-index: 56;
	left: 50%;
	margin-left: -330px;
	width: 3%;
	max-width: 30px;
}

#pb
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 92px;
	margin-left: 478px;
}

#b
{
	margin-left: 24px;
	position: relative;
}

#a
{
	margin-left: 13px;
	margin-top: 417px;
	position: relative;
}

#n
{
	margin-top: 394px;
	position: relative;
}

#a2
{
	margin-left: 11px;
	margin-top: 391px;
	position: relative;
}

#a3,#f,#a4,#i
{
	margin-left: 11px;
	margin-top: 400px;
	position: relative;
}

#d,#n2,#r
{
	margin-top: 400px;
	position: relative;
}

#ppu113
{
	margin-right: -10000px;
	margin-top: 539px;
	width: 40%;
	margin-left: 55.01%;
}

#u113
{
	z-index: 5;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u394
{
	z-index: 26;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u394
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u394:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/a_031816_1.gif") no-repeat left top;
	background-size: cover;
}

#pu131,#pu138
{
	margin-top: 427px;
	width: 100%;
}

#u138
{
	z-index: 17;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u410
{
	z-index: 28;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u410
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u410:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/d_031816.gif") no-repeat left top;
	background-size: cover;
}

#u147
{
	z-index: 15;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u421
{
	z-index: 30;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u421
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u421:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/n_032516.gif") no-repeat left top;
	background-size: cover;
}

#u173
{
	z-index: 19;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u427
{
	z-index: 32;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u427
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u427:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/f_031816.gif") no-repeat left top;
	background-size: cover;
}

#pu166,#pu182,#pu147,#pu173,#pu189
{
	margin-top: 436px;
	width: 100%;
}

#u189
{
	z-index: 21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u729_img,#u731_img,#pu103,#u103_img,#u122_img,#u131_img,#u166_img,#u182_img,#u198_img,#u733_img,#u735_img,#u737_img,#u739_img,#u741_img,#u743_img,#u745_img,#u747_img,#u749_img,#pu113,#u113_img,#u138_img,#u147_img,#u173_img,#u189_img
{
	width: 100%;
}

#u438
{
	z-index: 34;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u438
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u438:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/i_031816.gif") no-repeat left top;
	background-size: cover;
}

.ie #u374:hover,.ie #u402:hover,.ie #u418:hover,.ie #u424:hover,.ie #u435:hover,.ie #u449:hover,.ie #u394:hover,.ie #u410:hover,.ie #u421:hover,.ie #u427:hover,.ie #u438:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


