.version.index /* version checker */
{
	color: #000002;
	background-color: #93F5FF;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#pu1430
{
	margin-right: -10000px;
	margin-top: 127px;
	width: 42.2%;
	margin-left: 5.5%;
}

#u1430
{
	z-index: 22;
	height: 400px;
	position: relative;
	width: 94.79%;
	margin-left: 5.22%;
	background: transparent url("../images/b.gif") no-repeat center center;
	background-size: contain;
}

#u1430:hover
{
	height: 400px;
	min-height: 0px;
	width: 94.79%;
	margin: 0px 0px 0px 5.213270142180095%;
	background: transparent url("../images/b_031816.gif") no-repeat center center;
	background-size: contain;
}

#u1457
{
	z-index: 16;
	height: 400px;
	margin-top: 400px;
	position: relative;
	width: 94.79%;
	background: transparent url("../images/n1.gif") no-repeat center center;
	background-size: contain;
}

#u1457:hover
{
	height: 400px;
	min-height: 0px;
	width: 94.79%;
	margin: 400px 0px 0px 0%;
	background: transparent url("../images/n_040816_2.gif") no-repeat center center;
	background-size: cover;
}

#u1513
{
	z-index: 13;
	height: 400px;
	margin-top: 400px;
	position: relative;
	width: 94.79%;
	background: transparent url("../images/a1.gif") no-repeat center center;
	background-size: contain;
}

#u1522
{
	z-index: 15;
	height: 400px;
	margin-top: 400px;
	position: relative;
	width: 94.79%;
	background: transparent url("../images/a3.gif") no-repeat center center;
	background-size: contain;
}

#u1545
{
	z-index: 14;
	height: 400px;
	margin-top: 400px;
	position: relative;
	width: 94.79%;
	background: transparent url("../images/a1.gif") no-repeat center center;
	background-size: contain;
}

#u1513:hover,#u1522:hover,#u1545:hover
{
	height: 400px;
	min-height: 0px;
	width: 94.79%;
	margin: 400px 0px 0px 0%;
	background: transparent url("../images/a_040816_1.gif") no-repeat center center;
	background-size: cover;
}

#u449
{
	z-index: 20;
	height: 400px;
	margin-top: 400px;
	position: relative;
	width: 94.79%;
	background: transparent url("../images/r.gif") no-repeat center center;
	background-size: contain;
}

#u449:hover
{
	height: 400px;
	min-height: 0px;
	width: 94.79%;
	margin: 400px 0px 0px 0%;
	background: transparent url("../images/r_032516.gif") no-repeat center center;
	background-size: cover;
}

#pu394
{
	margin-right: -10000px;
	margin-top: 527px;
	width: 41%;
	margin-left: 54%;
}

#u394
{
	z-index: 12;
	height: 400px;
	position: relative;
	width: 97.57%;
	background: transparent url("../images/a1.gif") no-repeat center center;
	background-size: contain;
}

#u394:hover
{
	height: 400px;
	min-height: 0px;
	width: 97.57%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/a_040816_1.gif") no-repeat center center;
	background-size: cover;
}

#u410
{
	z-index: 18;
	height: 400px;
	margin-top: 400px;
	position: relative;
	width: 97.57%;
	margin-left: 2.44%;
	background: transparent url("../images/d.gif") no-repeat center center;
	background-size: contain;
}

#u410:hover
{
	height: 400px;
	min-height: 0px;
	width: 97.57%;
	margin: 400px 0px 0px 2.4390243902439024%;
	background: transparent url("../images/d_031816.gif") no-repeat center center;
	background-size: cover;
}

#u1516
{
	z-index: 17;
	height: 400px;
	margin-top: 400px;
	position: relative;
	width: 97.57%;
	margin-left: 2.44%;
	background: transparent url("../images/n1.gif") no-repeat center center;
	background-size: contain;
}

#u1516:hover
{
	height: 400px;
	min-height: 0px;
	width: 97.57%;
	margin: 400px 0px 0px 2.4390243902439024%;
	background: transparent url("../images/n_040816_2.gif") no-repeat center center;
	background-size: cover;
}

#u427
{
	z-index: 19;
	height: 400px;
	margin-top: 400px;
	position: relative;
	width: 97.57%;
	margin-left: 2.44%;
	background: transparent url("../images/f.gif") no-repeat center center;
	background-size: contain;
}

#u427:hover
{
	height: 400px;
	min-height: 0px;
	width: 97.57%;
	margin: 400px 0px 0px 2.4390243902439024%;
	background: transparent url("../images/f_031816.gif") no-repeat center center;
	background-size: cover;
}

#u438
{
	z-index: 21;
	height: 400px;
	margin-top: 400px;
	position: relative;
	width: 97.57%;
	margin-left: 2.44%;
	background: transparent url("../images/i.gif") no-repeat right center;
	background-size: contain;
}

#u438:hover
{
	height: 400px;
	min-height: 0px;
	width: 97.57%;
	margin: 400px 0px 0px 2.4390243902439024%;
	background: transparent url("../images/i_040816.gif") no-repeat right center;
	background-size: cover;
}

#pu1406
{
	padding-bottom: 30px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 740px;
	width: 24%;
}

#u1406
{
	z-index: 2;
	height: 30px;
	position: fixed;
	top: 20px;
	right: 20px;
	width: 11.71%;
	max-width: 117px;
}

.ie #u1406
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1406:hover
{
	height: 30px;
	min-height: 0px;
	width: 11.71%;
	max-width: 117px;
	margin: 0px;
}

#u1412
{
	z-index: 3;
	height: 30px;
	position: fixed;
	top: 20px;
	right: 143px;
	width: 11.71%;
	max-width: 117px;
}

.ie #u1412
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1412:hover
{
	height: 30px;
	min-height: 0px;
	width: 11.71%;
	max-width: 117px;
	margin: 0px;
}

.ie #u1406:hover,.ie #u1412:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1415-4
{
	z-index: 4;
	min-height: 14px;
	position: fixed;
	top: 28px;
	right: 143px;
	width: 11.71%;
	max-width: 117px;
}

#u1418-4
{
	z-index: 8;
	min-height: 14px;
	position: fixed;
	top: 28px;
	right: 20px;
	width: 11.71%;
	max-width: 117px;
}

#u1415-4:hover,#u1418-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 11.71%;
	max-width: 117px;
	margin: 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


