.version.motiontostill_taylor /* version checker */
{
	color: #000015;
	background-color: #866C7D;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#pu887
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 111px;
	width: 40%;
	margin-left: 5.2%;
}

#u887
{
	z-index: 23;
	position: relative;
	width: 100%;
	background: transparent url("../images/041616.gif") no-repeat center center;
	background-size: cover;
}

#u994
{
	z-index: 24;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u997
{
	z-index: 25;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u997
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u997:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/b2.gif") no-repeat left top;
	background-size: cover;
}

#u889
{
	z-index: 17;
	margin-top: 400px;
	position: relative;
	width: 100%;
	background: transparent url("../images/n_040816_2.gif") no-repeat center center;
	background-size: cover;
}

#u1041
{
	z-index: 34;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1044
{
	z-index: 36;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u1044
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1044:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/n11.gif") no-repeat center center;
	background-size: cover;
}

#u1650
{
	z-index: 20;
	margin-top: 400px;
	position: relative;
	width: 100%;
	background: transparent url("../images/a_040816_1.gif") no-repeat center center;
	background-size: cover;
}

#u1647
{
	z-index: 27;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1653
{
	z-index: 31;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u1653
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1653:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/a11.gif") no-repeat left top;
	background-size: cover;
}

#u1119
{
	z-index: 21;
	margin-top: 400px;
	position: relative;
	width: 100%;
	background: transparent url("../images/a_040816_1.gif") no-repeat center center;
	background-size: cover;
}

#u1122
{
	z-index: 28;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1125
{
	z-index: 32;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u1125
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1125:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/a31.gif") no-repeat left top;
	background-size: cover;
}

#u1160
{
	z-index: 22;
	margin-top: 400px;
	position: relative;
	width: 100%;
	background: transparent url("../images/a_040816_1.gif") no-repeat center center;
	background-size: cover;
}

#u1157
{
	z-index: 29;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1163
{
	z-index: 33;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u1163
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1163:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/a11.gif") no-repeat left top;
	background-size: cover;
}

#u896
{
	z-index: 12;
	margin-top: 400px;
	position: relative;
	width: 100%;
	background: transparent url("../images/r_0325162.gif") no-repeat left top;
	background-size: cover;
}

#u1193
{
	z-index: 44;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1196
{
	z-index: 45;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u1196
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1196:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/r2.gif") no-repeat left top;
	background-size: cover;
}

#pu888
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 511px;
	width: 40%;
	margin-left: 54.7%;
}

#u888
{
	z-index: 19;
	position: relative;
	width: 100%;
	background: transparent url("../images/a_040816_1.gif") no-repeat center center;
	background-size: cover;
}

#u887:hover,#u888:hover
{
	background-image: none;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1014
{
	z-index: 26;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1017
{
	z-index: 30;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u1017
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1017:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/a11.gif") no-repeat left top;
	background-size: cover;
}

#u890
{
	z-index: 16;
	margin-top: 400px;
	position: relative;
	width: 100%;
	background: transparent url("../images/041616%20(1).gif") no-repeat center center;
	background-size: cover;
}

#u890:hover
{
	min-height: 0px;
	width: 100%;
	margin: 400px 0px 0px 0%;
	background: transparent url("../images/d_031816.gif") no-repeat center center;
	background-size: cover;
}

#u1061
{
	z-index: 38;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1064
{
	z-index: 39;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u1064
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1064:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/d1.gif") no-repeat center center;
	background-size: cover;
}

#u1626
{
	z-index: 18;
	margin-top: 400px;
	position: relative;
	width: 100%;
	background: transparent url("../images/n_040816_2.gif") no-repeat center center;
	background-size: cover;
}

#u889:hover,#u1650:hover,#u1119:hover,#u1160:hover,#u896:hover,#u1626:hover
{
	background-image: none;
	min-height: 0px;
	width: 100%;
	margin: 400px 0px 0px 0%;
}

#u1620
{
	z-index: 35;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1623
{
	z-index: 37;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u1623
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1623:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/n11.gif") no-repeat center center;
	background-size: cover;
}

#u894
{
	z-index: 15;
	margin-top: 400px;
	position: relative;
	width: 100%;
	background: transparent url("../images/f_040816_2.gif") no-repeat center center;
	background-size: cover;
}

#u894:hover
{
	min-height: 0px;
	width: 100%;
	margin: 400px 0px 0px 0%;
	background: transparent url("../images/f_031816.gif") no-repeat center center;
	background-size: cover;
}

#u1135
{
	z-index: 40;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1138
{
	z-index: 41;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u1138
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1138:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/f1.gif") no-repeat center center;
	background-size: cover;
}

#u897
{
	z-index: 13;
	background-color: transparent;
	margin-top: 400px;
	position: relative;
	width: 100%;
}

#u897:hover
{
	background-color: #FFFFFF;
	min-height: 0px;
	width: 100%;
	margin: 400px 0px 0px 0%;
}

#u898
{
	z-index: 14;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	background: transparent url("../images/i_040816.gif") no-repeat left top;
	background-size: cover;
}

#u898:hover
{
	background-image: none;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1173
{
	z-index: 42;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u994:hover,#u1041:hover,#u1647:hover,#u1122:hover,#u1157:hover,#u1193:hover,#u1014:hover,#u1061:hover,#u1620:hover,#u1135:hover,#u1173:hover
{
	background-color: #FFFFFF;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1176
{
	z-index: 43;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u1176
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1176:hover
{
	height: 400px;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/i1.gif") no-repeat left top;
	background-size: cover;
}

#pu1406
{
	padding-bottom: 30px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 740px;
	width: 24%;
}

#u1406
{
	z-index: 2;
	height: 30px;
	position: fixed;
	top: 20px;
	right: 20px;
	width: 11.71%;
	max-width: 117px;
}

.ie #u1406
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1406:hover
{
	height: 30px;
	min-height: 0px;
	width: 11.71%;
	max-width: 117px;
	margin: 0px;
}

#u1412
{
	z-index: 3;
	height: 30px;
	position: fixed;
	top: 20px;
	right: 143px;
	width: 11.71%;
	max-width: 117px;
}

.ie #u1412
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1412:hover
{
	height: 30px;
	min-height: 0px;
	width: 11.71%;
	max-width: 117px;
	margin: 0px;
}

.ie #u997:hover,.ie #u1044:hover,.ie #u1653:hover,.ie #u1125:hover,.ie #u1163:hover,.ie #u1196:hover,.ie #u1017:hover,.ie #u1064:hover,.ie #u1623:hover,.ie #u1138:hover,.ie #u1176:hover,.ie #u1406:hover,.ie #u1412:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1415-4
{
	z-index: 4;
	min-height: 14px;
	position: fixed;
	top: 28px;
	right: 143px;
	width: 11.71%;
	max-width: 117px;
}

#u1418-4
{
	z-index: 8;
	min-height: 14px;
	position: fixed;
	top: 28px;
	right: 20px;
	width: 11.71%;
	max-width: 117px;
}

#u1415-4:hover,#u1418-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 11.71%;
	max-width: 117px;
	margin: 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


